# Node.js
node_modules/
views/
npm-debug.log*
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Uploaded files
uploads/

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar
*.pid
*.sock
docker-compose.override.yml

# VSCode (optional, if you use it)
.vscode/

# Logs
logs/
*.log
